<div class="container">
  <header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
    <a routerLink="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <h1 class="fs-4">🍀 Mediclover</h1>
    </a>

    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a routerLink="/new-patient" class="nav-link" routerLinkActive="active">New Patient</a></li>
        <li class="nav-item"><a routerLink="/doctors" class="nav-link" routerLinkActive="active">Doctors</a></li>
      </ul>
    </nav>
  </header>
</div>
