.container {
  padding: 0 10rem;
}

h3 {
  margin-top: 2rem;
}

.form-outline {
  height: 80px;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 0;
  padding-bottom: 0;
}

.invalid-feedback {
  margin-top: 0;
}
